.mast {
    $size: 12px;

    display: block;
    width: $size/4;
    height: $size;
    background: #000;
    position: relative;
    transform: scale(.5);

    &::before,
    &::after {
        display: block;
        position: absolute;
        width: $size;
        content: '';
        height: $size/4;
        background: #000;
        bottom: -$size/4;
        left: -$size/4 - $size/8;
    }

    &::after {
        width: $size + $size/2;
        bottom: -$size/2;
        left: -$size/4 - $size/4 - $size/8;
    }

    &__flag {
        display: block;
        border: $size solid;
        border-color:  transparent #c00 transparent transparent ;
        border-width: $size/2 + $size/8 $size;
        position: absolute;
        top: -$size + $size/8;
        left: -$size - $size/2 - $size/4;
    }
}
