*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    user-select: none;
    width: 724px;
    margin: 20px auto;
}

@import "./scss/header";
@import "./scss/smiley";
@import "./scss/counter";
@import "./scss/fields";
