.mine {
    $size: 16px;
    $pin: $size/4;

    display: block;
    width: $size;
    height: $size;
    border-radius: $size;
    background-color: #000;
    position: relative;
    transform: scale(.75);

    &::before,
    &::after {
        content: '';
        display: block;
        width: $size + $pin;
        height: $pin;
        background-color: #000;
        position: absolute;
        left: -($pin/2);
        top: $size/2 - $pin/2;
    }

    &::before {
        transform: rotate(90deg);
    }

    > .mine {
        transform: rotate(45deg);

        &::before,
        &::after {
            height: $pin / 2;
            top: $size/2 - $pin/4;
        }
    }

    &__shadow {
        border: $size/8 solid white;
        border-radius: 100%;
        position: absolute;
        z-index: 1;
        top: $size/8 * 2;
        left: $size/8;
    }
}
