.counter {
    width: 60px;
    height: 36px;
    padding: 3px;
    position: relative;
    margin: 4px;
    border: 1px inset #eee;
    background-color: #000;

    &--left {
        float: left;
    }

    &--right {
        float: right;
    }
}

@import "./number";
