.counter {
    width: 56px;
    height: 34px;
    padding: 2px;
    position: relative;
    margin: 4px;
    border: 1px inset #eee;
    background-color: #000;

    &--left {
        float: left;
    }

    &--right {
        float: right;
    }
}

@import "./number";
