
.field-table {
    width: 724px;
    height: 388px;
    border: 2px solid;
    border-color: #eee #999 #999 #eee;
    background-color: #ccc;

    .is-finished & {
        pointer-events: none;
    }
}

.field {
    position: relative;
    color: transparent;
    float: left;
    display: block;
    text-align: center;
    width: 24px;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
    border: 2px solid;
    border-color: #eee #999 #999 #eee;
    background-color: #ccc;

    &--open {
        background-color: #bbb;
        border-width: 1px;
        border-color: #999;
        padding: 1px;
        cursor: default;
    }

    &--count-0 {
        color: transparent;
    }

    &--count-1 {
        color: #33c;
    }

    &--count-2 {
        color: #060;
    }

    &--count-3 {
        color: #c00;
    }

    &--count-4 {
        color: #606;
    }

    &--count-5 {
        color: #066;
    }

    &--count-6,
    &--count-7,
    &--count-8 {
        color: #000;
    }

    &--mined {
        padding: 2px;
    }

    &--flag {
        padding: 5px 8px;
    }

    &--flag-wrong {
        .is-finished & {
            padding: 2px;
        }

        &::before,
        &::after {
            .is-finished & {
                content: '';
                display: block;
                width: 26px;
                border: 1px solid red;
                transform: rotate(45deg);
                top: 9px;
                left: -3px;
                position: absolute;
            }
        }

        &::after {
            .is-finished & {
                transform: rotate(-45deg);
            }
        }

        .is-finished & {
            .mine {
                display: block;
            }

            .mast {
                display: none;
            }
        }
    }

    &--mined#{&}--exploded {
        padding: 3px;
        background-color: #f00;
    }

    &--mined#{&}--flag {
        .is-finished & {
            &::before,
            &::after {
                display: none;
            }
        }
    }
}
