
.smiley {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    text-align: center;
    width: 28px;
    height: 28px;
    margin: -14px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid;
    border-color: #eee #999 #999 #eee;
    background-color: #ccc;

    &:active {
        border-color: #999 #eee #eee #999;
    }

    &__ic {
        position: relative;
        margin: 2px;
        display: block;
        width: 20px;
        height: 20px;
        border: 2px solid black;
        border-radius: 20px;
        background-color: #ff0;

        .is-finished & {
            background-color: #f66;
        }

        .is-victory & {
            background-color: #0f0;
        }

        &::before, &::after {
            content: '';
            position: absolute;
        }

        &::before {
            top: 4px;
            left: 50%;
            width: 8px;
            height: 4px;
            margin-left: -4px;
            border-left: 2px solid black;
            border-right: 2px solid black;
        }

        &::after {
            top: 9px;
            left: 50%;
            width: 12px;
            height: 5px;
            margin-left: -6px;
            border: 2px solid;
            border-width: 0 2px 2px;
            border-radius: 0 0 8px 8px;

            .is-finished & {
                top: 8px;
                width: 8px;
                margin-left: -4px;
                border-width: 0 0 2px;
                border-radius: 0;
            }
        }
    }
}
